*{
    margin: 0;
}




body{
    background-image:url(../img/cork.png);
}

.title{
  background-color: white;
    opacity: 0.9;
h1{
    text-align: center;
    font-size:80px;
    color: black;
}
   
}