* {
    margin: 0;
}




body {
    background-image: url(../img/cork.png);
}

.title1 {
    background-image: url(../img/wall.png);

    h1 {
        text-align: center;
        font-size: 80px;
        color: black;
    }

}

.card {

 width: 330px;
 
 img{
    width: 300px;
    margin-top: 12px
 }

    .button {
        width: 40px;
        left: 140px;
        top: -20px;
    }
}