* {
    margin: 0;
}




body {
    background-image: url(../img/cork.png);
    .title{
        font-family: 'Edu Tas Beginner', 'monospace';
        font-size: 40px;
    }
    .date{
        font-family:'Sometype Mono', ‘monospace’;
    }
}

.title1 {
    background-image: url(../img/wall.png);

    h1 {
        text-align: center;
        font-size: 80px;
        color: black;
        font-family: 'Edu Tas Beginner', 'monospace';
    }

}

.card {

 width: 330px;
 
 img{
    width: 300px;
    margin-top: 12px
 }

    .button {
        width: 40px;
        left: 140px;
        top: -20px;
        position: absolute;
      
    }


    
}


.fullscreen {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  justify-content: center;
  align-items: center;


}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
}

.card:hover{
    rotate: 20deg;
    .button{
        display: none;
    }
   
}



